

/* Box saddow */

.shakil img{
    width: 100%;
}
.shakil{
       
    width: 400px;
    text-align: center;
    margin: auto;
    border: 1px solid white;
   
}

.shakil h3{
    font-size: 20px;
    text-transform: capitalize;
     margin: 0; 
     padding: 10px;

}
.shakil:hover{
    box-shadow: 5px 5px 10px rgba(0, 0,0,.2),
    -6px -5px 10px rgba(0, 0,0, .2) ;

}


/* text shadow*/
h3{
    font-size: 40px;
    text-align: center;
    text-shadow:  0 4px rgb(194, 51, 51);

}
